# Learning Objective

- Solve basic questions using
  - Numpy
  - Pandas
- Work on a case study using numpy and pandas

## Numpy

In [ ]:
import numpy as np #import numpy

### Ques 1. Create two  arrays of 5*5 (i.e. 5 rows and 5 columns) using first 25 elements (i.e. 0 to 24). 
### Calculate the inner product of the two arrays using numpy.

### Ques 2: There are two array `x` and `y`. Write a program to output the matching items in both the array.
    
- x = np.array([1,2,3,4,5])
- y = np.array([1,6,7,8, 5, 9])
- Output = [1,5]

### Ques 3. Write a program to sort a given array of shape 2 along the first axis, last axis and on flattened array.
a = np.array([[10,40],[30,20]])

## Pandas

### Ques 1. Convert the below two dictionaries to two dataframes. And concatenate these twoo DFs into one dataframe.

 - dict_1={'emp_id':['emp1','emp2','emp3','emp4'],'name':['Adam','Ellie','Rose','Slash'],'Ratings':[3,5,2,1]}
 - dict_2={'emp_id':['emp5','emp6','emp7','emp8'],'name':['Ram','Hari','Gopal','Shreyas'],'Ratings':[4,1,2,3]}

### Ques 2. Given the below three dictionaries. 
### 2.1 Convert these dictionaries into dataframes
### 2.2 Concatenate the first two DFs into one DF
### 2.3 Merge the above combined DF with the coupon DF
emp_data1 = pd.DataFrame({
        'emp_id': ['emp1', 'emp2', 'emp3', 'emp4', 'emp5'],
         'name': ['Danniella', 'Ryder', 'Bryce', 'Ed', 'Kwame'], 
        'salary': [200, 210, 190, 222, 199]})

emp_data2 = pd.DataFrame({
        'emp_id': ['emp4', 'emp5', 'emp6', 'emp7', 'emp8'],
        'name': ['Scarlette', 'Carla', 'Dante', 'Kaiser', 'Madeeha'], 
        'salary': [201, 200, 198, 219, 201]})

coupon_data = pd.DataFrame({
        'emp_id': ['emp1', 'emp2', 'emp3', 'emp4', 'emp5', 'emp7', 'emp8', 'emp9', 'emp10', 'emp11', 'emp12', 'emp13'],
        'cupon_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})

### Ques 3. Check 5 random samples of the above DF. Check the shape and info of the above DataFrame.

## Case Study

For the below set of questions, we will be using the famous titanic disaster dataset.
The dataset contains,
- survived -   whether the passenger has survived or not 0 = No, 1 = Yes
- pclass   -  Class of the passenger
- sex      -   Gender of the passenger
- age      -   Age of the passenger
- sibsp    -   # of siblings / spouses aboard the Titanic
- parch    -   # of parents / children aboard the Titanic
- fare     -   Passenger fare
- embarked -   Port of Embarkation like: C = Cherbourg, Q = Queenstown, S =        Southampton
- deck     -   Deck data

### Ques 1. Load your dataset

### Ques 2. Check the first 5 lines and last 5 lines of the above dataframe

Hint: use .head() and .tail()

### Ques 3. Check the basic statistics of the columns. Check missing values

We will discuss how to deal with missing data in upcoming modules.

### Ques 4. Use describe method to get the basic statistics of both continuous and categorical features.

### Ques 5. Check correlation amongst features using corr() function of pandas dataframe

### Ques 6. Report how many female passengers died? (Hint:- use inbuilt functions)

********************************************************************************

### Ques 7. Make a sub dataframe which consists of only sex and age column. Print the mean age of male and female using groupby function.

 Use groupby to display mean of both male and female.

********************************************************************************

### Ques 8. Print the maximum value of age and fare for male and female separately using groupby.
Outcome should have max age of female, max age of male, max fare of feamle, and max fare of male.

********************************************************************************

### Ques 9. What is the average rate of survived passengers in different pclasses?

********************************************************************************

### Ques 10. What is the average survival rate of male and female passengers ?

********************************************************************************

### Ques 11. Print average survived passengers based on their total number of siblings/spouse who aboard the titanic ship (Hint : use groupby over sibsp feature)

********************************************************************************

### Ques 12. Print average survived passengers based on their number of parents/children who aboard the titanic ship.

********************************************************************************

### Ques 13. Calculate adult passengers( age > 18) aboarded. (Use lambda function)

********************************************************************************

### Ques 14. Calculate the total number of passengers who do not have any siblings/spouse on board.

********************************************************************************

### Ques 15. Display the data for infants who survived ( infants where age <=4)

### Ques 16. What are the chances of infants surviving ?

********************************************************************************

### Ques 17. Find the teenage passengers data (age < 18) based on their gender.

## **Great Learning :)**