# Solution Notebook

## Notebook Structure
- Part 1
  - Variables, Operators
  - Common Packages
  - Data structures
- Part 2
  - Functions, Lambda Function
  - Loops, Conditional Statements

## **Part 1**

### Q.1.a. Write a code to find the reminder of the input given by the user. Store the input and output in variables named “number” and “reminder” respectively. ( Hint : data type of the user input needs to be converted. str - int)

In [ ]:
number = int(input()) # input() function returns a string which needs to be converted into integer in order to find the reminder
reminder = number % 2
print(f" The reminder of {number} is {reminder} ")

31
 The reminder of 31 is 1

### Q.1.b. Write a program to swap two strings without using a third string.

In [ ]:
string1 = "GreatLearning"
string2 = "HappyLearning"
print(f" The stirngs before swaping are : {string1} and {string2} ")
string1, string2 = string2, string1
print(f" The stirngs after swaping are : {string1} and {string2} ")

 The stirngs before swaping are : GreatLearning and HappyLearning
 The stirngs after swaping are : HappyLearning and GreatLearning

### Q.1.c. Find a simple code snippet to generate a random number between the range of 0 to 9. (Hint : Use “random” package)

In [ ]:
import random
print(f" The random number generted is : {random.randint(0,9)} ")

 The random number generted is : 3

### Q.1.d. Convert a floating point kilometer value into miles for a conversion factor of 0.621371. Print both the values upto only two decimal points. (Say kilometers = 24.56, then miles = 15.26)

In [ ]:
# Taking kilometers input from the user
kilometers = float(input("Enter the value in kilometers: "))

# conversion factor
conv_factor = 0.621371

# calculate miles
miles = kilometers * conv_factor
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter the value in kilometers: 24.56
24.56 kilometers is equal to 15.26 miles

### Q.1.e. For the given variable x = 10, y = 12, perform the following bitwise operations:
- x>>2
- y<<1
- x and y

In [ ]:
x = 10
y = 12
print(f"The output of x right shifted by 2 is : {x>>2} ")
print(f"The output of y left shifted by 1 is : {y<<1} ")
print(f"The output of (x and y) is : {x & y} ")

The output of x right shifted by 2 is : 2
The output of y left shifted by 1 is : 24
The output of (x and y) is : 8

### Q.2. For a below given list, perform the following:
- Print the list and find the length of the list
- Delete the last element from the list
- Replace "Germany" with "Russia"
- Add "Argentina" and "Portugal" countires simultaneously using a proper list method

Print the list and find the length of the list

In [ ]:
input_list = ["USA", "India", "Sweden", "Germany", "Canada"]
input_list

['USA', 'India', 'Sweden', 'Germany', 'Canada']

In [ ]:
print(f"length of {input_list} is {len(input_list)} ")

length of ['USA', 'India', 'Sweden', 'Germany', 'Canada'] is 5

Delete the last element from the list

In [ ]:
input_list.pop()

'Canada'

In [ ]:
input_list

['USA', 'India', 'Sweden', 'Germany']

Replace "Germany" with "Russia"

In [ ]:
input_list[3] = "Russia"

In [ ]:
input_list

['USA', 'India', 'Sweden', 'Russia']

Add "Argentina" and "Portugal" countires simultaneously using a proper list method

extend() method of list is used for multiple addition of elements

In [ ]:
input_list.extend(["Argentina", "Portugal"])

'Portugal'

In [ ]:
input_list

['USA', 'India', 'Sweden', 'Russia', 'Argentina', 'Portugal']

### Q.3. For the below given dictionary:
- How to get the value Portugal ?
- Print all the keys of dictionary
- Print all the values together
- Replace Lionel Messi with Neymar

In [ ]:
football_team = {
    "players" : ["Lionel Messi", "Cristiano Ronaldo", "Sergio Aguero"],
    "club" : ["Barcelona", "Real Madrid", "Manchester City"],
    "nationality" : ["Argentina", "Portugal", "Spain"],
    "age" : [34, 36, 33]
}
football_team

{'age': [34, 36, 33],
 'club': ['Barcelona', 'Real Madrid', 'Manchester City'],
 'nationality': ['Argentina', 'Portugal', 'Spain'],
 'players': ['Lionel Messi', 'Cristiano Ronaldo', 'Sergio Aguero']}

How to get the value Portugal ?

In [ ]:
football_team["nationality"][1]

'Portugal'

Print all the keys of dictionary

In [ ]:
football_team.keys()

dict_keys(['players', 'club', 'nationality', 'age'])

Print all the values together

In [ ]:
football_team.values()

dict_values([['Lionel Messi', 'Cristiano Ronaldo', 'Sergio Aguero'], ['Barcelona', 'Real Madrid', 'Manchester City'], ['Argentina', 'Portugal', 'Spain'], [34, 36, 33]])

Replace Lionel Messi with Neymar

In [ ]:
football_team["players"][0] = "Neymar"

In [ ]:
football_team

{'age': [34, 36, 33],
 'club': ['Barcelona', 'Real Madrid', 'Manchester City'],
 'nationality': ['Argentina', 'Portugal', 'Spain'],
 'players': ['Neymar', 'Cristiano Ronaldo', 'Sergio Aguero']}

### Q.4. Write a program which will take two lists list1 & list2 as input and it will return a list having all the numbers divisible by 4 which are present in the given two lists.
- For example list1 = [2,4,16,23] & list2 = [5,6,8,12] Expected Output: [4,16,8,12]

In [ ]:
list1 = [2,4,16,23]
list2 = [5,6,8,12]

new_list = list1 + list2
div_by_four = []
for number in new_list:
  if number % 4 == 0:
    div_by_four.append(number)

print(div_by_four)

[4, 16, 8, 12]

### Q.5. For the below given tuple:
- What is the first occurance of 3 ?
- Count total number of 3 present in the given tuple
- Convert given tuple into list and add 20, "y" and 44 simultaneously using proper list method

In [ ]:
new_tuple = (3, 3, 'x', [1,2])
new_tuple

(3, 3, 'x', [1, 2])

What is the first occurance of 3 ?

In [ ]:
new_tuple.index(3)

0

The first occurance of 3 is at 0th index

Count total number of 3 present in the given tuple

In [ ]:
new_tuple.count(3)

2

Convert given tuple into list and add 20, "y" and 44 simultaneously using proper list method

In [ ]:
new_list = list(new_tuple)
new_list

[3, 3, 'x', [1, 2]]

In [ ]:
new_list.extend([20, "y", 44])
new_list

[3, 3, 'x', [1, 2], 20, 'y', 44]

## **Part 2**

### Q.1. Find the largest number from given 3 numbers using the if, elif, else conditional statements. Take the inputs from the user and store the result in the “largest'' variable.

In [ ]:
#num1 = 10
#num2 = 14
#num3 = 12

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print(f"The largest number is : {largest} ")

Enter first number: 21
Enter second number: 44
Enter third number: 43
The largest number is : 44

### Q.2. Write a function to calculate sum of all natural numbers upto 50(take input from user). If number is less than zero, print "enter a positive number", else print the sum. Use 'while' loop to iterate until number is zero.

In [ ]:
def sum_of_natural_num(number):
  number = int(input("Enter the number : "))

  if number < 0:
    print("Please enter a positive number")
  else:
    sum = 0
    # use while loop to iterate until zero
    while(number > 0):
      sum += number
      number -= 1
    print(f"The sum of all natural numbers till 50 is : {sum} ")

sum_of_natural_num(number)

Enter the number : 50
The sum of all natural numbers till 50 is : 1275

### Q.3. Write a function to find largest number from given input list. Pass list of numbers as parameters to the function. Use python in-built function ONLY. list1 = [200, 186, 1, 760]

In [ ]:
def largest_number(user_list):
  return max(user_list)

largest_number([200, 186, 1, 760])

760

### Q.4. Find the factorial of a number given by user. For the entered negative number, the program should print "factorial does not exist for negative numbers". For zero, it should print "factorial of zero is 1". (Hint: use 'for' loop as well as proper 'if elif' conditional statements)

In [ ]:
number = int(input("Enter a number: "))
factorial = 1

# use if..elif..else statements in order to check if the number is negative, positive or zero
if number < 0:
   print("Factorial does not exist for negative numbers")
elif number == 0:
   print("The factorial of zero is 1")
else:
   for i in range(1, number + 1):
       factorial = factorial*i
   print(f"The factorial of {number} is {factorial} ")

Enter a number: 7
The factorial of 7 is 5040

### Q.5. Generate a new list from the below given list which has elements divisible by 12 only using a single line code. (Hint : Use ONLY "lambda" function)

In [ ]:
new_list = [12, 65, 48, 108, 112, 120, 85]

# use filter(function, iterable) to get all numbers divisible by 12
# use lambda function to check the divisibilty condition
div_by_tweleve = list(filter(lambda x: (x % 12 == 0), new_list))

print(f"The list of numbers divisible by 12 is : {div_by_tweleve} ")

# Happy Learning :)